.container {
  /* Базові стилі */
  max-width: 320px;
  padding: 0 20px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
      /* Стилі планшета */
      max-width: 480px;
      // max-width: none;
    }

  @media screen and (min-width: 768px) {
    /* Стилі планшета */
    max-width: 768px;
    // max-width: none;
    padding: 0 32px;
  }

  @media screen and (min-width: 1280px) {
    /* Стилі десктопа */
    max-width: 1280px;
    padding: 0 16px;
  }
}
