<footer class="footer">
    <div class="container footer-container">
        <div class="footer-content">
            <div class="footer-content__thumb">
                <nav>
                    <a href="/src/index.html" class="footer__logo">
                        <svg class="footer__icon" width="69" height="51">
                            <use href="./images/icons.svg#logo"></use>
                        </svg>
                    </a>
                </nav>                
                <nav class="footer-navigation">
                    <ul class="footer-navigation__list">
                        <li class="footer-navigation__item">
                            <a href="#home" class="footer-navigation__link">Home</a>
                        </li>
                        <li class="footer-navigation__item">
                            <a href="#about" class="footer-navigation__link">About</a>
                        </li>
                        <li class="footer-navigation__item">
                            <a href="#service" class="footer-navigation__link">Service</a>
                        </li>
                        <li class="footer-navigation__item">
                            <a href="#menu" class="footer-navigation__link">Menu</a>
                        </li>
                        <li class="footer-navigation__item">
                            <a href="#contact" class="footer-navigation__link">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>            
            <div class="footer-newslatter">
                <form class="footer-form">
                    <label for="newslatter" class="footer-form__title">Subscribe</label>
                    <div class="footer-form__thumb">
                        <input type="email" name="newslatter" id="newslatter" placeholder="Enter your email" class="footer-form__input">
                        <button type="submit" class="footer-form__button">Subscribe</button>
                    </div>                    
                </form>
                <p class="footer__policy">By subscribing you agree to with our <a href="&" class="footer__policy_link">Privacy Policy</a></p>
            </div>            
        </div>
        <div class="footer-information">
            <ul class="footer-information__list">
                <li class="footer-information__item">
                    <a href="#" class="footer-information__link">Privacy Policy</a>
                </li>
                <li class="footer-information__item">
                    <a href="#" class="footer-information__link">Terms of Service</a>
                </li>
                <li class="footer-information__item">
                    <a href="#" class="footer-information__link">Cookies Settings</a>
                </li>
            </ul>
            <p class="footer-information__copyright">2022 FoodSta. All right reserved.</p>            
    </div>
</footer>