<section class="offerings">
    <div class="container">

        <div class="offerings-global">

            <div class="offerings__image-radialbox ">

                <div class="offerings__image-box">

                    <picture>
                        <source media="(min-width: 320px) and (max-width: 767px)" 
                            srcset="/src/images/components/mobile/applemobile(1x)_202.png 1x, 
                                    /src/images/components/mobile/applemobile(2x)_404.png 2x, 
                                    /src/images/components/mobile/applemobile(3x)_606.png 3x">
                        <source media="(min-width: 768px) and (max-width: 1279px)" 
                            srcset="/src/images/components/tablet/appletabletbig(1x)_258.png 1x, 
                                    /src/images/components/tablet/appletabletbig(2x)_515.png 2x, 
                                    /src/images/components/tablet/appletabletbig(3x)_772.png 3x">
                        <source media="(min-width: 1280px)" 
                            srcset="/src/images/components/desktop/appledesktop(1x)_396.png 1x, 
                                    /src/images/components/desktop/appledesktop(2x)_792.png 2x, 
                                    /src/images/components/desktop/appledesktop(3x)_1188.png 3x">
                        <img class="offerings__image" width="396" 
                            src="/src/images/components/desktop/appledesktop(1x)_396.png" alt="яблоко">
                    </picture>

                    <picture>
                        <source media="(min-width: 320px) and (max-width: 767px)" srcset="#">
                        <source media="(min-width: 768px) and (max-width: 1279px)" 
                            srcset="/src/images/components/tablet/appletabletmiddle(1x)_166.png 1x, 
                                    /src/images/components/tablet/appletabletmiddle(2x)_332.png 2x, 
                                    /src/images/components/tablet/appletabletmiddle(3x)_498.png 3x">
                        <source media="(min-width: 1280px)" srcset="#">
                        <img class="offerings-global_img-middle" width="166" 
                            src="/src/images/components/tablet/appletabletmiddle(1x)_166.png"
                            alt="среднее яблоко">
                    </picture>

                    <picture>
                        <source media="(min-width: 320px) and (max-width: 767px)" srcset="#">
                        <source media="(min-width: 768px) and (max-width: 1279px)"
                            srcset="/src/images/components/tablet/appletabletsmall(1x)_108.png 1x, 
                                    /src/images/components/tablet/appletabletsmall(2x)_216.png 2x, 
                                    /src/images/components/tablet/appletabletsmall(3x)_324.png 3x">
                        <source media="(min-width: 1280px)" srcset="#">
                        <img class="offerings-global_img-small" width="108" 
                            src="/src/images/components/tablet/appletabletsmall(1x)_108.png" 
                            alt="среднее яблоко">
                    </picture>

                </div>

            </div>

            <div class="offerings-global__text">

                <div class="offerings-about">

                    <h2 class="offerings-about__title"> What’s Special About Our Offerings</h2>

                    <p class="offerings-about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique.
                        Duis cursus, mi quis viverra ornare,
                        eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>

                </div>

                <div class="offerings-advantage ">

                    <ul class="offerings-advantage-list">

                        <li class="offerings-advantage-item">
                            <div class="offerings-advantage-item-icons">
                                <svg class="offerings-advantage-item-icon" width="32" height="32">
                                    <use href="./images/icons.svg#rocket"></use>
                                </svg>
                            </div>

                            <h3 class="offerings-advantage__title">Fasest Delivery</h3>

                            <p class="offerings-advantage__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros.
                            </p>

                        </li>

                        <li class="offerings-advantage-item">
                            <div class="offerings-advantage-item-icons">
                                <svg class="offerings-advantage-item-icon" width="32" height="32">
                                    <use href="./images/icons.svg#touch"></use>
                                </svg>
                            </div>

                            <h3 class="offerings-advantage__title">Easy to order</h3>

                            <p class="offerings-advantage__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Suspendisse varius enim in eros.
                            </p>

                        </li>


                    </ul>
                </div>

                <div class="offerings-footer">

                    <div class="offerings-footer__list">

                        <button class="offerings-footer__btn" type="button">Order Now</button>

                    </div>

                    <a class="offerings-footer__link" href="#">Read More
                        <svg class="offerings-footer__link-icon" width="13" heigth="13">
                            <use href="./images/icons.svg#vector"></use>
                        </svg>
                    </a>

                </div>

            </div>

        </div>

    </div>
</section>